/* Write your CSS here */
.product-details-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}

.bg-container {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  background-color: #3b82f6;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.image {
  width: 400px;
  height: 500px;
  border-radius: 10px;
  margin-right: 20px;
}
.horizontal-line {
  height: 3px;
  width: 100%;
  flex-grow: 1;
  align-self: flex-start;
}
.details-container {
}

.quantity-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}

.add-to-cart {
  background-color: #3b82f6;
  border-radius: 5px;
  padding: 10px;
  color: white;
  border: none;
  margin-top: 10px;
}
.minus-button {
  height: 20px;
  background-color: transparent;
  border: 1px solid gray;
  cursor: pointer;
  outline: none;
}

.price-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.similar-products-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
}
.unordered-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.similar-image {
  width: 90%;
  border-radius: 8px;
}

.list-item {
  padding: 10px;

  list-style-type: none;
  width: 20%;
  margin-right: 10px;
  margin-bottom: 10px;
}
.heading {
  align-self: flex-start;
}
.item-heading {
  font-size: 20px;
}

.rating-container {
  display: flex;
  flex-direction: row;
  height: 30px;
  color: white;
}
.star-image {
  width: 20px;
  height: 20px;
}
.similar-bg-container {
  display: flex;

  justify-content: center;
  align-items: center;
}

.failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failure-image {
  width: 500px;
  height: 500px;
}

.continue-shopping-button {
  background-color: #3b82f6;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
}
.failure-inside-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
